@page
@model ASPTraining.Web.LoginPageModel
@{
    ViewBag.Title = "LoginPage";
}
<head>
    <link rel="stylesheet" href="~/css/loginSite.css" />
</head>
<body>
    <div class="container">
        <div class="align-items-center">
            <h2>Sign in</h2>
            <form action="#">

                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" class="form-control" placeholder="Username or email">
                </div>

                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                <a href="/Index" class="Button">Text</a>

                <button type="button" class="align-content-between" asp-area="" asp-page="/Index">Login </button>
            </form>
        </div>
    </div>
</body>
