@page
@model ASPTraining.Web.Pages.UserPageModel
@{
}

<div class="alert-dark" a>
    Moje konto
</div>
<div class="card-img" style="empty-cells"  >
    <img src="https://i.pinimg.com/564x/db/a1/e8/dba1e88773f269446560f9481e02fdb7.jpg" 
         alt="Image" title="sssssss"
         width="200" 
         height="400"
         align="middle"/>

</div>